@import url('https://fonts.googleapis.com/css?family=Roboto');

html{
    font-size: 16px; /*Por padrão*/
}
div{
    font-size: 20px; /* 20px / 16px = 1.25rem OU 1.25em */
}
p{
    font-size: 18px; /* 18px / 20px = 0.9em OU 18px / 16px = 1.125rem*/
}
h1{
    font-family: 'Courier New', Courier, monospace;
    /* font-family: 'Roboto', sans-serif; */
}
h2{
    text-transform: uppercase;
}
/* 
    Quando utilizamos EM, pegamos a medida em PX do elemento que queremos e dividimos
    pela medida do elemento principal (em px) , assim vamos ter a medida em EM.
    16px(desejado) / 25px(principal) = 0.64em 

    Quando utilizamos o REM é o mesmo esquema do EM, porém não é relacionado a elemento
    e sim ao HTML, que por padrão é 16px;
    
*/