.paragrafo{
    color: blueviolet;
    font-size: 1.25rem;
    font-family: 'Courier New', Courier, monospace;
}

#titulo-principal{
    color: rgb(219, 78, 35);
    font-size: 1.25em;
    font-family: 'Courier New', Courier, monospace;
}