/* FORMATANDO UM LINK */

/* link não visitado */
a:link {
    color: green;
}

/* link visitado */
a:visited {
    color: green;
}

/* mouse sob o link */
a:hover {
    color: red;
    cursor: crosshair;
}

/* link selecionado */
a:active {
    color: yellow;
} 
